@inject FeedService FeedService
@inject IJSRuntime JsRuntime

@if (FeedItem.TopicPictureUri != null)
{
    <div class="feed-item-thumbnail-with-topic-picture @(FeedItem.IsReaded ? "readed" : "")" @onclick="Click">
        <img src="@FeedItem.TopicPictureUri"/>
        <div class="title">@FeedItem.Title</div>
        <div class="time-and-channel">@FeedItem.PubDate&nbsp;<span><b>via</b>&nbsp;@FeedItem.Channel</span></div>
    </div>
}
else
{
    <div class="feed-item-thumbnail-without-topic-picture @(FeedItem.IsReaded ? "readed" : "")" @onclick="Click">
        <div class="title">@FeedItem.Title</div>
        <div class="summary"><span>@FeedItem.Summary</span></div>
        <div class="time-and-channel">@FeedItem.PubDate&nbsp;<span><b>via</b>&nbsp;@FeedItem.Channel</span></div>
    </div>
}

@code
{
    [Parameter]
    public Share.DataContracts.FeedItem FeedItem { get; set; }

    public void Click()
    {
        _ = JsRuntime.InvokeVoidAsync("openWindow", FeedItem.PermentLink);
        _ = FeedService.MarkAsReadedAsync(FeedItem);
    }
}
