@inject FeedService FeedService
@inject LocalUser LocalUser
@inject NavigationManager Navigation

<div class="page-header">
    @if (LocalUser.IsAuthorized)
    {
        <div class="side-bar-btn @(SideBarBtnPressed ? "pressed" : "")" @onclick="OnSideBarBtnClick">
            <!-- https://www.iconfinder.com/icons/1167996/check_checklist_dots_list_menu_icon -->
            <svg height="128px" id="Layer_1" style="enable-background:new 0 0 128 128;" version="1.1" viewBox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle cx="24.879" cy="64" r="10.059" style="fill:#2F3435;"/><circle cx="24.878" cy="100.09" r="10.059" style="fill:#2F3435;"/><circle cx="24.879" cy="27.91" r="10.058" style="fill:#2F3435;"/><line style="fill:none;stroke:#2F3435;stroke-width:14.3337;stroke-miterlimit:10;" x1="48.682" x2="113.183" y1="27.91" y2="27.91"/><line style="fill:none;stroke:#2F3435;stroke-width:14.3337;stroke-miterlimit:10;" x1="48.682" x2="113.183" y1="64" y2="64"/><line style="fill:none;stroke:#2F3435;stroke-width:14.3337;stroke-miterlimit:10;" x1="48.682" x2="113.183" y1="100.09" y2="100.09"/></g></svg>
        </div>
    }

    @if (Feed == null)
    {
        <div class="feed-description">
            <div class="icon">
                <img src="/img/iconfinder_Flurry_Google_Reader_Alt_176646.png"/>
            </div>
            <div class="name-and-description">
                <a class="name" href="/"><span>FeedReader</span></a>
                <a class="description" href="/"><span>Read, Think, Share .... </span></a>
            </div>
            @if (LocalUser.IsAuthorized)
            {
                <div class="toolbar">
                    <DropdownButton Text="Logout" OnClick="Logout"/>
                </div>
            }
            else
            {
                <div class="toolbar">
                    <DropdownButton Text="Login" OnClick="Login"/>
                </div>
            }
        </div>
    }
    else
    {
        <div class="feed-description">
            <div class="icon">
                <FallbackImage Src="@Feed.IconUri" FallbackSrc="@($"https://www.google.com/s2/favicons?domain={new Uri(Feed.Uri).Host}")"/>
            </div>
            <div class="name-and-description">
                <a class="name" href="@WebsiteLink" title="@Name" target="_blank"><span>@Name</span></a>
                <a class="description" href="@Uri" target="_blank" title="@Description"><span>@Description</span></a>
            </div>
            <div class="toolbar">
                <DropdownButton Text="Mark all as read" OnClick="MarkAllReaded">
                    <MenuContent>
                        <li @onclick="Unsubscribe">Unsubscribe</li>
                        <li @onclick="Logout">Logout</li>
                    </MenuContent>
                </DropdownButton>
            </div>
        </div>
    }
</div>

@code
{
    [Parameter]
    public bool SideBarBtnPressed { get; set; }

    [Parameter]
    public Feed Feed { get; set; }

    [Parameter]
    public EventCallback<Feed> OnUnsubscribe { get; set; }

    [Parameter]
    public Action OnSideBarBtnClick { get; set; }

    private string Name
    {
        get
        {
            return string.IsNullOrWhiteSpace(Feed.Name) ? Uri : Feed.Name;
        }
    }

    private string WebsiteLink
    {
        get
        {
            return string.IsNullOrWhiteSpace(Feed.WebsiteLink) ? Name : Feed.WebsiteLink;
        }
    }

    private string Uri
    {
        get
        {
            return string.IsNullOrWhiteSpace(Feed.OriginalUri) ? Feed.Uri : Feed.OriginalUri;
        }
    }

    private string Description
    {
        get
        {
            return string.IsNullOrWhiteSpace(Feed.Description) ? Uri : Feed.Description;
        }
    }

    private Task Unsubscribe()
    {
        return OnUnsubscribe.InvokeAsync(Feed);
    }

    private void MarkAllReaded()
    {
        FeedService.MarkFeedAllItemsAsReadedAsync(Feed);
    }

    private void Login()
    {
        Navigation.NavigateTo("/login");
    }

    private void Logout()
    {
        Navigation.NavigateTo("/logout");
    }
}
