@inject FeedService FeedService
@inject IJSRuntime JsRuntime

<div class="show-feed">
    <div class="feed-info">
        <div class="icon">
            <FallbackImage Src="@WebClient.Utils.SafeImageUri(Feed.IconUri)" FallbackSrc="@($"https://www.google.com/s2/favicons?domain={new Uri(Feed.Uri).Host}")"/>
        </div>
        <div class="name-and-description">
            <div class="name"><a href="@WebsiteLink" title="@Name" target="_blank">@Name</a></div>
            <div class="description"><a href="@Uri" title="@Description" target="_blank">@Description</a></div>
        </div>
    </div>
    <div class="feed-items">
        @if (!string.IsNullOrWhiteSpace(Feed.Error))
        {
            <div class="error">Error: @Feed.Error</div>
        }
        else if (Feed.Items.Items.Count == 0)
        {
            <WaitingPage Text="Loading..."/>
        }
        else
        {
            foreach (var item in Feed.Items.Items)
            {
                <FeedItemThumbnail FeedItem=@item></FeedItemThumbnail>
            }

            @if (Feed.Items.NextPage != 0)
            {
                <FeedItemThumbnail More="More"></FeedItemThumbnail>
            }
        }
    </div>
</div>

@code
{
    [Parameter]
    public Feed Feed { get; set; }

    private string Name
    {
        get
        {
            return string.IsNullOrWhiteSpace(Feed.Name) ? Uri : Feed.Name;
        }
    }

    private string WebsiteLink
    {
        get
        {
            return string.IsNullOrWhiteSpace(Feed.WebsiteLink) ? Name : Feed.WebsiteLink;
        }
    }

    private string Uri
    {
        get
        {
            return string.IsNullOrWhiteSpace(Feed.OriginalUri) ? Feed.Uri : Feed.OriginalUri;
        }
    }

    private string Description
    {
        get
        {
            return string.IsNullOrWhiteSpace(Feed.Description) ? Uri : Feed.Description;
        }
    }


    private Task More()
    {
        return FeedService.RefreshFeedAsync(Feed, true);
    }
}
