@page "/login"
@page "/login/{action}"

@inject ApiService ApiService
@inject IJSRuntime JsRuntime
@inject LocalUser LocalUser
@inject LogService Logger
@inject NavigationManager Navigation

@if (LocalUser.IsAuthorized)
{
    Navigation.NavigateTo("/");
}

<MainLayout>
    <div class="login-page" style="cursor: @(IsLogining ? "wait" : "default")">
        <div class="wrapper">
            @if (IsLogining)
            {
                <WaitingPage Text="Logining..."/>
            }
            else
            {
                <div class="banner">
                    <img src="/img/iconfinder_news-car-announcement-advertisement-broadcast_4313131.svg"/>
                    <img src="/img/iconfinder_Health_Education-Article-Smartphone-Knowledge-Blog_5959004.svg"/>
                    <img src="/img/iconfinder_IntelligentlyConsumeSocialMedia-fakenews-lie-news-socialmedia-covid19_6141534.svg"/>
                </div>
                <div class="error">
                    @Error
                </div>
                <div class="login-providers">
                    <a class="microsoft" href="@MicrosoftLoginUri">
                        <img src="/img/iconfinder_Microsoft_381606.svg"/> Login with <b>Microsoft</b> account
                    </a>
                    <a class="microsoft" href="@GoogleLoginUri">
                        <img src="/img/iconfinder_2_939729.svg"/> Login with <b>Google</b> account
                    </a>
                    <a class="microsoft" href="@GitHubLoginUri">
                        <img src="/img/iconfinder_github_401441.svg"/> Login with <b>GitHub</b> account
                    </a>
                    <a class="microsoft" href="@FacebookLoginUri">
                        <img src="/img/iconfinder_social_style_3_facebook_341099.svg"/> Login with <b>Facebook</b> account
                    </a>
                </div>
            }
        </div>
    </div>
</MainLayout>

@code
{
    private const string MICROSOFT_CLIENT_ID = "dcaaa2ba-a614-4b8c-b78e-1fb39cb8899a";

    private const string GOOGLE_CLIENT_ID = "2423499784-8btrctmdul3lrcjlg9uvaoa8clrtvc0f.apps.googleusercontent.com";

    private const string FACEBOOK_CLIENT_ID = "324406818724681";

    [Parameter]
    public string Action { get; set; }

    private string Error { get; set; }

    private bool IsLogining { get; set; }

    private string MicrosoftLoginUri { get; set; }

    private string GoogleLoginUri { get; set; }

    private string GitHubLoginUri { get; set; }

    private string FacebookLoginUri { get; set; }

    protected override void OnInitialized()
    {
        if (Action != null)
        {
            IsLogining = true;
        }
        else
        {
            IsLogining = false;
        }

        // Get original query string.
        var queryString = "";
        var queryStart = Navigation.Uri.IndexOf('?');
        if (queryStart > 0)
        {
            queryString = Navigation.Uri.Substring(queryStart + 1);
        }
        queryString = Utils.Base64Encode(queryString);

        var callbackUri = Navigation.ToAbsoluteUri("/login/ms-callback");
        MicrosoftLoginUri = $"https://login.microsoftonline.com/consumers/oauth2/v2.0/authorize?client_id={MICROSOFT_CLIENT_ID}&redirect_uri={callbackUri}&response_type=id_token&scope=openid+profile+email&nonce=feedreader&state={queryString}";

        callbackUri = Navigation.ToAbsoluteUri("/login/google-callback");
        GoogleLoginUri = $"https://accounts.google.com/o/oauth2/v2/auth?client_id={GOOGLE_CLIENT_ID}&redirect_uri={callbackUri}&response_type=id_token&scope=openid+profile+email&nonce=feedreader&state={queryString}";

        callbackUri = Navigation.ToAbsoluteUri("/login/github-callback");
        GitHubLoginUri = $"https://github.com/login/oauth/authorize?client_id={ApiService.GitHubClientId}&redirect_uri={callbackUri}&scope=user:email&state={queryString}";

        callbackUri = Navigation.ToAbsoluteUri("/login/facebook-callback");
        FacebookLoginUri = $"https://www.facebook.com/v8.0/dialog/oauth?client_id={FACEBOOK_CLIENT_ID}&redirect_uri={callbackUri}&response_type=token&scope=email&state={queryString}";

    }

    protected override async Task OnInitializedAsync()
    {
        switch (Action)
        {
            case null:
                break;

            case "ms-callback":
                await LoginWithMicrosoftCallbacAsync(Navigation.Uri);
                break;

            case "google-callback":
                await LoginWithGoogleCallbackAsync(Navigation.Uri);
                break;

            case "github-callback":
                await LoginWithGitHubCallback(Navigation.Uri);
                break;

            case "facebook-callback":
                await LoginWithFacebookCallback(Navigation.Uri);
                break;

            default:
                Logger.Error($"Invalid action: {Action}.");
                Navigation.NavigateTo("/login");
                break;
        }

        IsLogining = false;
    }

    private async Task LoginWithMicrosoftCallbacAsync(string callbackUri)
    {
        try
        {
            // Get jwt token from the uri.
            var fragment = callbackUri.Substring(callbackUri.IndexOf('#') + 1);
            var queries = HttpUtility.ParseQueryString(fragment);
            var token = queries["id_token"];
            if (token == null)
            {
                var error = queries["error"];
                if (error == null)
                {
                    throw new Exception($"Unexpected ms-callback, uri: {callbackUri}.");
                }
                else
                {
                    throw new Exception($"Get error from ms login callbac: {error}");
                }
            }
            else
            {
                await LocalUser.LoginAsync(token);
                PostLoginSuccess(Utils.Base64Decode(queries["state"]));
            }
        }
        catch (Exception ex)
        {
            Logger.Error($"Login with Microsoft account failed, ex: {ex.Message}");
            Error = "Login with Microsoft account failed, please try again later.";
        }
    }

    private async Task LoginWithGoogleCallbackAsync(string callbackUri)
    {
        try
        {
            var fragment = callbackUri.Substring(callbackUri.IndexOf('#') + 1);
            var queries = HttpUtility.ParseQueryString(fragment);
            var token = queries["id_token"];
            if (token == null)
            {
                throw new Exception($"Unexpected google-callback, uri: {callbackUri}.");
            }
            else
            {
                await LocalUser.LoginAsync(token);
                PostLoginSuccess(Utils.Base64Decode(queries["state"]));
            }
        }
        catch (Exception ex)
        {
            Logger.Error($"Loggin with google account failed, ex: {ex.Message}");
            Error = "Login with Google account failed, pleaes try again later.";
        }
    }

    private async Task LoginWithGitHubCallback(string callbackUri)
    {
        try
        {
            var query = callbackUri.Substring(callbackUri.IndexOf('?') + 1);
            var queries = HttpUtility.ParseQueryString(query);
            var code = queries["code"];
            if (string.IsNullOrEmpty(code))
            {
                throw new Exception($"Unexpected github-callback, uri: {callbackUri}.");
            }
            else
            {
                await LocalUser.LoginAsync($"github:{code}");
                PostLoginSuccess(Utils.Base64Decode(queries["state"]));
            }
        }
        catch (Exception ex)
        {
            Logger.Error($"Login with github account failed, ex: {ex.Message}");
            Error = "Login with GitHub account failed, please try again later.";
        }
    }

    private async Task LoginWithFacebookCallback(string callbackUri)
    {
        try
        {
            // Get jwt token from the uri.
            var fragment = callbackUri.Substring(callbackUri.IndexOf('#') + 1);
            var queries = HttpUtility.ParseQueryString(fragment);
            var token = queries["access_token"];
            if (token == null)
            {
                var error = queries["error_reason"];
                if (error == null)
                {
                    throw new Exception($"Unexpected fackbook-callback, uri: {callbackUri}.");
                }
                else
                {
                    throw new Exception($"Get error from facebook login callbac: {error}");
                }
            }
            else
            {
                await LocalUser.LoginAsync($"facebook:{token}");
                PostLoginSuccess(Utils.Base64Decode(queries["state"]));
            }
        }
        catch (Exception ex)
        {
            Logger.Error($"Login with Facebook account failed, ex: {ex.Message}");
            Error = "Login with Facebook account failed, please try again later.";
        }
    }

    private void PostLoginSuccess(string queryString)
    {
        var queries = HttpUtility.ParseQueryString(queryString);
        Navigation.NavigateTo(string.IsNullOrWhiteSpace(queries?["redirect_uri"]) ? "/" : queries["redirect_uri"]);
    }
}
